## Shreejal Shrestha

## Simple Hello World

In [12]:
hello = ("hello world")
print (hello)

hello world

## Python Numbers

In [13]:
pi = 3.14
print (pi)

3.14

## Numbers

In [14]:
#int
age = 30
print (age)
#float
price = 12.5
print (price)
#imaginary
real_imaginary = 1j
print(type(real_imaginary))

30
12.5
<class 'complex'>

## Arithematic Operations

In [15]:
#addition
a = 5
b = 10
sum = a + b
print (sum)
#subtraction
a = 5
b = 10
substraction = b - a
print (substraction)
#multipication 
multiplication = a * b
print (multiplication)
#division
division = b/a
print (division)
#modolus
rem_a_b = a%b
print (rem_a_b)
#power
power = a ** b
print (power)

15
5
50
2.0
5
9765625

## String in Python

Collection of characters

In [16]:
name = "Shreejal Shrestha"
print (name)
#length of the string
total_no_of_chars = len(name)
print (total_no_of_chars)
#get first char
first_char = name[0]
print (first_char)
#get 5th char
fifth_char = name[4]
print (fifth_char)
#last char
last_char = name[len(name)-1]
print (last_char)

#sub-string
first_name = name[0:3] # 0,1,2
last_name = name[4:11] #4,5,6,7,8,9,10
print ("first last name", first_name, last_name)

Shreejal Shrestha
17
S
e
a
first last name Shr ejal Sh

## Indexing using range

In [17]:
name = "Susman Raj Shrestha"
first_name = name [:6]
middle_name = name [6:11]
last_name = name [11:]
print (first_name, middle_name, last_name)
name.split()

Susman  Raj  Shrestha

['Susman', 'Raj', 'Shrestha']

## Boolean

In [18]:
passed = True
active = False
print(passed, active)

True False

## Conditional statements If else

In [19]:
day = int(input("Enter day"))
if day == 4:
    print ("I have to wake up first")
    print ("I have to eat ")
    print ("I have to sleep")
elif day == 5:
    print ("I donot have to wake up first")
    print ("I don't have to eat ")
    print ("I don't have to sleep")
else:
    print ("I don't have to wake up second")
print ('test')

I don't have to wake up second
test

In [20]:
# write a program to findout that the given number is odd or even
number = int(input("enter a number"))
if number % 2 ==0:
    print("given number is even number")
else:
    print ("given number is odd number")

given number is odd number

## Conditional with range

In [3]:
### if time is
### between 10-12 print its time for python
### between 12-14 print its time for DSA
### between 14-15 print its time for English
### default "getting ready"
time = int(input("Enter a time"))
if time >10 and time < 12:
    print("The time is for python")
elif time >=12 and time <14:
    print("The time is for DSA")
elif time >=14 and time <15:
    print("The time is for English")
else:
    print("getting ready")

getting ready

In [22]:
# if you are from "Nepal" or "India" ticket for cablecar 50 else 
country = input("enter the name of country")
if country.lower() == "nepal" or country.lower() == "india":
    print ("Price for cable car is Rs. 50")
else:
    print("Ticket for cable car is RS. 100")

Price for cable car is Rs. 50

## While Loop

In [29]:

counter = 0
while counter < 10:
    print (f"hello {counter} ")
    counter +=1

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9

In [30]:
counter = 10
while counter >0:
    print (f"Hello {counter}")
    counter -=1

Hello 10
Hello 9
Hello 8
Hello 7
Hello 6
Hello 5
Hello 4
Hello 3
Hello 2
Hello 1

## Find the sum of first n = 100 natural numbers

In [38]:
n = 100 
counter = 1
sum = 0
while counter <=n:
    sum += counter
    counter +=1

print(sum)

5050

## find the sum of even numbers of first n natural numbers

In [39]:
n = 100
counter = 1
sum = 0
while counter<=n :
    if counter%2 ==0:
        sum += counter
    counter+=1

print(sum)

2550

## reverse the given string

## address = "Kathmandu Nepal"

In [54]:
# reverse the given string address = "Kathmandu Nepal"
address = "Kathmandu Nepal"
length = len(address)-1
reversed_string = ''
while length >=0:
    reversed_string +=  address[length]
    length -=1

print (reversed_string)

lapeN udnamhtaK

## Python List

List is ordered collection of items

In [2]:
numbers = [1,2,3,4,5,5,5,5]
students = ['Ram' , 'Hari']

#access elements from list
first_number = numbers[0]
print (first_number)
#count total number of items
total_items = len(numbers)
print (total_items)
#last element
last_element = numbers[total_items-1]
print(last_element)

1
8
5

In [7]:
numbers =[1,4,3,5,6,7,1,1]
print (numbers)
#append item
numbers.append(8)
print(numbers)
#remove last item
numbers.pop()
print (numbers)
#remove
numbers.remove(5)
print (numbers)
#insert
numbers.insert(2, 10)
#count
print (numbers.count(1))
numbers_1 = [1,2]
numbers_2 = [3,4]
numbers_1.extend(numbers_2) #print(numbers_1 + numbers_2)
print (numbers_1)
#clear
numbers_1.clear()
print (numbers_1)

[1, 4, 3, 5, 6, 7, 1, 1]
[1, 4, 3, 5, 6, 7, 1, 1, 8]
[1, 4, 3, 5, 6, 7, 1, 1]
[1, 4, 3, 6, 7, 1, 1]
3
[1, 2, 3, 4]
[]

In [26]:
#
a = 5
b = a #copy by value
a = a + 1
print (a,b)
a = ['Ram' , 'Hari']
b = a #deep copy (copy by reference)
b = a.copy() #Shallow copy
a.append('Gopal')
print(b)
# check value exist in list
if 'Ram' in a:
    print ('Ram exist in a')

6 5
['Ram', 'Hari']
Ram exist in a

## loop through List (iterate over list)
### find the sum of all items os given list

In [32]:

numbers = [1,2,3,4,5,6,6]

total_items = len(numbers)
index = 0
sum = 0
while index < total_items:
    element = numbers[index]
    sum += element
    print (element)
    index +=1

print (sum)

1
2
3
4
5
6
6
27

### find the max value from the given list

In [38]:

numbers = [1,2,3,4,5,6,6]
total_items = len(numbers)
index = 0
max_value = numbers[0]
while index < total_items:
    element = numbers[index]
    if element > max_value:
        max_value = element
    index +=1
print (max_value)

6

# Filter values

In [47]:
students = ['Ram', 'Hari', 'Gopal']
filtered_students = [i for i in students if i != 'Ram']
print (filtered_students)

['Hari', 'Gopal']

## create list of even numbers from given list

In [50]:

numbers = [1,2,3,4,5,4,2,6,7,8,6,]
even_numbers = [numbers for numbers in numbers if numbers %2==0]
print(even_numbers)

[2, 4, 4, 2, 6, 8, 6]

## join all list items into single string